.contro-height {
    height: 3.5rem;
}
.fieldHeader {
    color:cadetblue;
}
body {
    overflow-x: hidden;
}
.logo {
    width: 170px; 
    height: 38px; 
}
.body-section {
    height: 100vh;
}
header{
    display: flex;
    justify-content: center;
}
header h1 {
    font-size: 1.3rem;
}
.invalid-input-val:invalid {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
 .error-msg {
    display: flex;
    justify-content: center;
    color:rgb(255, 0, 0);
}
.control-height {
    height: 3.5rem;
 }
 .sub-navigation{
    text-align: right;
    background-color: #292b2ca4;
    color: #f7f7f7;
}
.sub-navigation a {
    text-decoration: none;
    color: #f7f7f7;
}
.sub-navigation a:hover {
    font-weight: 500;
}
.sub-navigation span{
    color: #f7f7f7b0;
}
.success-msg {
    display: flex;
    justify-content: center;
    color:rgb(0, 161, 0);
}
.overflowScrollX {
    overflow-x: auto;
}
.body-section-2 {
    height: 65vh;
    overflow-y: scroll;
}